/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	width: 878px;
	margin: 0 auto;
}

header {
	display: flex;
	flex-wrap: nowrap;
}

header nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-right: 90px;
	margin-bottom: 30px;
}

header nav a {
	color: gray;
	text-decoration: none;
	padding-top: 40px;
}

header nav a:hover {
	color: lightgray;
}

.logo {
	padding-top: 28px;
}

.cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 80px;
}

.cta .cta-text {
	width: 49%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cta-text h1 {
	font-size: 5em;
	display: flex;
	justify-content: center;
	text-align: center;
}

/* .cta-button {
	display: flex;
	align-items: center;
} */

.services-summary {
	margin-top: 30px;
	margin-bottom: 40px;
}

.services-summary h1 {
	font-size: 1.6em;
}

.services-summary p {
	line-height: 1.3;
}

.middle-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.middle-content .text-container-1 {
	width: 49%;
	/* background-color: whitesmoke; */
	/* border: 1px solid black; */
	margin-top: 30px;
	padding: 20px;
	/* line-height: 1.3; */
}

.middle-content .text-container-2 {
	width: 47.5%;
	background-color: whitesmoke;
	border: 1px solid black;
	margin-top: 40px;
	padding: 20px;
	line-height: 1.3;
}

.text-container-2 button {
	background-color: white;
	margin-top: 15px;
	padding: 10px 38px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 11px;
	letter-spacing: .05em;
}

.bottom-content {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 90px;
}

.bottom-content .services-facts {
	width: 47%;
}

.services-facts p {
	line-height: 1.3;
	margin-bottom: 25px;
}

ul {
	list-style: square;
	padding-left: 15px;
}

ul li {
	line-height: 1.3;
	padding-bottom: 10px;
	padding-left: 10px;
}


footer {
	width: 100%;
	margin-top: 30px;
}


footer .footer-text {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}
